<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width:device-width, initial-scale:1.0">
    <link rel="stylesheet" href="style.css">
    <title>Techzona Website</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                &#9776; 
                </button>
                <a href="index.html">Techzona</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Danh mục bán hàng</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">x</button>
            <ul>
                <li>
                    <a href="index.html">Camera</a>
                </li>
                <li>
                    <a href="index.html">Máy Tính</a>
                </li>
            </ul>
        </aside>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/d1.jpeg" alt="product1">
                            <div class="product-name">
                                <a href="product.html">Redmi Note 8</a>
                            </div>
                            <div class="product-brand">Xiaomi</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/d1.jpeg" alt="product1">
                            <div class="product-name">
                                <a href="product.html">Redmi Note 8</a>
                            </div>
                            <div class="product-brand">Xiaomi</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/d1.jpeg" alt="product1">
                            <div class="product-name">
                                <a href="product.html">Redmi Note 8</a>
                            </div>
                            <div class="product-brand">Xiaomi</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/d1.jpeg" alt="product1">
                            <div class="product-name">
                                <a href="product.html">Redmi Note 8</a>
                            </div>
                            <div class="product-brand">Xiaomi</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/d1.jpeg" alt="product1">
                            <div class="product-name">
                                <a href="product.html">Redmi Note 8</a>
                            </div>
                            <div class="product-brand">Xiaomi</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                </ul>
            </div>            
        </main>
        <footer class="footer">
            All right reserved.     
        </footer>
    </div>
    <script>
        let openMenu = () =>{
            document.querySelector(".sidebar").classList.add("open")
        }

        let closeMenu = () => {
            document.querySelector(".sidebar").classList.remove("open")
        }
    </script>
</body>
</html>
